@tenx-ui:registry=http://dev-npm.tenxcloud.net/
@yunti:registry=http://dev-npm.tenxcloud.net/
eslint-config-tenx:registry=http://dev-npm.tenxcloud.net/
stylelint-config-tenx:registry=http://dev-npm.tenxcloud.net/
always-auth=true
strict-peer-dependencies=false
