@import '@/assets/style/index.less';
.container {
  padding: 16px 0 0;
  .header {
    margin-bottom: 8px;
  }
  .titleIcon {
    font-size: 12px;
    color: @font-color-3;
  }
  .icon {
    cursor: pointer;
    color: @font-color-3;
  }
  .icon:hover {
    color: @primary-color;
  }
}
