@import '@/assets/style/index.less';

.references {
  margin-bottom: 12px;
  .referencesTxt {
    font-size: 12px;
    color: @font-color-3;
  }
}

.popContent {
  width: 300px;
  .divider {
    margin: 8px 0;
  }
  .relLine {
    margin-top: 12px;
  }
  .q {
    display: inline-flex;
    margin: 12px 0;
    font-size: 13px;
  }
}
