.header {
  :global {
    .tenx-ui-materials-card-body {
      padding-top: 16px;
      padding-bottom: 16px;
    }
    .tenx-ui-materials-divider {
      margin: 0 12px;
      color: rgba(0,0,0,0.15);
    }
  }
}