@import '@/assets/style/index.less';

.KnowledgeItem {
  width: 176px;
  height: 50px;
  padding: 0 16px;

  border: 1px solid @border-color-base;
  border-radius: 4px;
  .icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
  .delete {
    cursor: pointer;
    color: @font-color-3;
  }
}
.KnowledgeItemSelected {
  border: 1px solid @primary-color;
}
.KnowledgeItemCanSelect {
  cursor: pointer;
}
.KnowledgeItemCanSelect:hover {
  border: 1px solid @a-hover-color;
}
.tooltip {
  color: @font-color-3;
}
