@import '@/assets/style/index.less';

body {
  font-size: 12px;
}

.tenx-ui-materials-card-body {
  padding-top: 0;
}

.custom-table .tenx-ui-materials-table-thead {
  background-color: var(--background-color-body);
}

.dataset-version-header .tenx-ui-materials-card-body {
  padding-top: 16px;
  padding-bottom: 16px;
}
