@import '@/assets/style/index.less';
@inputAreaHeight: 150px;

.chatComponent {
  height: 100%;
  display: flex;
  align-items: flex-end;
  @width: calc(100% - 48px);
  @max-width: 876px;
  .chatColumn {
    width: 100%;
    height: calc(100vh - 100px);
    position: relative;
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    .chatList {
      display: flex;
      flex-direction: column;
      width: @width;
      max-width: @max-width;
      height: calc(100% - @inputAreaHeight - 24px);
      overflow-y: auto;
      &>div {
        width: 100%;
      }
      article > *:last-child {
        margin-bottom: unset;
      }
      //.safeArea {
      //  height: @inputAreaHeight + 24px;
      //  width: 100%;
      //}
    }
    .inputArea {
      display: flex;
      height: @inputAreaHeight;
      width: @width;
      max-width: @max-width;
      &>div {
        background: @background-color;
        position: unset !important;
      }
    }
  }
  .chatDebug {
    height: calc(100vh - 350px);
  }
}

