@import '@/assets/style/index.less';
.card {
  :global {
    .tenx-ui-materials-card-body {
      padding: 12px 24px 24px 24px;
    }
  }
  .setting {
    :global {
      .tenx-ui-materials-card-body {
        padding: 0px 20px;
      }
    }
  }
  .action {
    margin-bottom: 12px;
  }
  .content {
    // border: 1px solid @border-color-base;
    border-radius: 2px;
    background: @background-color-body;
  }
}
